# Mistral API 
pip install mistralai

# Vector Database
pip install chromadb
pip install pypdf

# Standart librairies
pip install python-dotenv

# For QA functions 
pip install llama-index

# To display in App
pip install streamlit

# To make unit tests
pip install pytest